# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3

# Streamlit
.streamlit/secrets.toml

# Entornos virtuales
venv/
env/
.venv/

# Archivos generados
*.pdf
*.csv
logs.txt

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
